
api.service
[Unit]
Description=fastapi test
After=network.target

[Service]
User=kuba
Group=kuba
WorkingDirectory=/home/kuba/app/src/
Environment="PATH=/home/kuba/app/src/.venv/bin"
EnvironmentFile=/home/kuba/.env
ExecStart=/home/kuba/app/src/.venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target



nginx
server {
    listen 80;
    listen [::]:80;

    server_name _; # replace with specific domain name like sanjeev.com

    location / {
        proxy_pass http://localhost:8000;
        proxy_http_version 1.1;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header Host $http_host;
        proxy_set_header X-NginX-Proxy true;
        proxy_redirect off;
    }

}